.label {
    position: absolute;
    width: 114px;
    height: 36px;
    left: 75px;
    top: 171px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #807F7F;

}

.form {
    box-sizing: border-box;

    position: absolute;
    width: 1311px;
    height: 68px;
    left: 75px;
    top: 837px;

    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    border-radius: 10px;
}