.header {
  position: relative;
  width: 1728px;
  height: 1117px;
  background: #ffffff;
}

.backtgl {
  position: relative;
  width: 1241px;
  height: 82px;
  left: 243px;
  top: 213px;

  background: #f9f8f8;
}

.tgl {
  position: absolute;
  ;
  width: 240px;
  height: 44px;
  left: 272px;
  top: 232px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  color: #cf7f66;
}

.img {
  position: relative;
  width: 316px;
  height: 266px;
  left: 272px;
  top: 322px;
}

.backmenu {
  position: relative;
  width: 1241px;
  height: 313px;
  left: 243px;
  top: 298px;

  background: #f9f8f8;
}

.judul {
  position: absolute;
  width: 370px;
  height: 48px;
  left: 635px;
  top: 322px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;

  color: #3a3a3a;
}

.desc {
  position: absolute;
  width: 611px;
  height: 66px;
  left: 635px;
  top: 379px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #807f7f;
}

.backproduk {
  position: relative;
  width: 1241px;
  height: 82px;
  left: 243px;
  top: 617px;

  background: #f9f8f8;
}

.textjml {
  position: absolute;
  width: 140px;
  height: 42px;
  left: 272px;
  top: 638px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  color: #807f7f;
}

.texttotal {
  position: absolute;
  width: 241px;
  height: 42px;
  left: 1005px;
  top: 639px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  color: #807f7f;
}

.textharga {
  position: absolute;
  width: 202px;
  height: 41px;
  left: 1260px;
  top: 639px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;

  color: #91091e;
}
