.card{
    position: relative;
    width: 658px;
    height: 240px;
    left: 42px;
    top: 50px;

    background: #F9F8F8;
    border-radius: 30px;
}

.namaproduk{
    position: absolute;
    width: 284px;
    height: 93px;
    left: 350px;
    top: 11px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    color: #393939;
}

.deskripsi{
    position: absolute;
    width: 310px;
    height: 161px;
    left: 350px;
    top: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #807F7F;
}

.harga{
    position: absolute;
    width: 166px;
    height: 39px;
    left: 350px;
    top: 190px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #91091E;

}

.checkout {
    position: absolute;
    width: 481px;
    height: 114px;
    left: 1000px;
    top: 1114px;

    background: #AA2B1D;

    width: 267px;
    height: 58px;
    left: 1252px;
    top: 1142px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;
    /* identical to box height */

    text-align: center;

    color: #E5E5E5;

}


.add{
    position: absolute;
    width: 30px;
    height: 44px;
    left: 610px;
    top: 180px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #807F7F;
}

.image{
    position: relative;
    width: 295px;
    height: 281px;
    left: 20px;
    top: 20px;
}